.menu-edit-form-page{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    /* border: 2px solid orange; */

}

.menu-edit-category{
   margin-bottom: 10vh;
}

.menu-edit-form-page h2{
    width: 100%;
    padding: 40px 0;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;

}

.form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    /* border: 2px solid blue; */
}

.item-edit-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    border-bottom: 2px solid rgb(99, 90, 90);
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;
}

.single-item-input{
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 100%;
}
.single-item-input input{
    font-size: 14px;
}
.single-item-input textarea{
    height: 4rem;
    font-size: 14px;
}

.submit-btn{
    font-size: 14px;
}



