.menu-edit-form-page {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	/* border: 2px solid orange; */
}

.return-home-btn {
	border: 1px solid #f22c4e;
	margin: 20px;
	color: #f22c4e;
	border-radius: 7px;
}

.menu-edit-category {
	margin-bottom: 10vh;
}

.menu-edit-form-page h2 {
	width: 100%;
	padding: 40px 0;
	text-align: center;
	text-decoration: underline;
	font-size: 50px;
}

.form-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* flex-wrap: wrap; */
	width: 90%;
	max-width: 1600px;
	margin: 0 auto;
	padding: 5px;
	/* border: 2px solid blue; */
}

.item-edit-form {
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: row;
	margin: 0 auto;
	width: 100%;
	border-bottom: 2px solid rgb(99, 90, 90);
	padding: 5px;
	align-items: center;
	justify-content: space-evenly;
}

.single-item-input {
	display: flex;
	flex-direction: column;
	padding: 5px;
	height: 100%;
}
.single-item-input input {
	font-size: 14px;
}
.single-item-input textarea {
	height: 4rem;
	font-size: 14px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1000px) {
	.form-container {
		flex-direction: column;
		justify-content: center;
		width: 90%;
	}
	.item-edit-form {
		flex-direction: column;
		width: 90%;
		align-items: flex-start;
		margin: 0 auto;
		/* flex-shrink: inherit; */
		/* background-color: aqua; */
	}

	.single-item-input{
		width: 90%;
		margin: 0 auto;
	}
	.submit-btn{
		margin: 0 auto;
	}
}
