/* Login Page Custom CSS */

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 0px;
  overflow-y: scroll;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 390px;
  /* background-color: #f5f6f6; */
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
  margin: 0vw 10vw 10vw 10vw;
}

.login-form label {
  margin-top: 10px;
  font-size: 18px;
}

.login-form h3 {
  color: white
}

.login-form input[type='text'],
.login-form input[type='password'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
}

.login-form button[type='submit'] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
  background-color: #FF4045;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Post Login in Page Redirected CSS */

.post-login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 0px;
  overflow-y: scroll;
}

.post-login-header {
  max-width: 100%;
  padding: 1rem;
  font-size: x-large;
  /* adjusts how big welcome header is */
  border-radius: 25px;
  display: flex;
  text-align: center;
  overflow: hidden;
  white-space: normal;
  backdrop-filter: blur(10px);
  margin: 100px auto;
}

.error {
  margin: 0;
  color: red;
  min-height: 26px;
  font-weight: bold;
}

.buttons-parent {
  margin-top: 150px;
  display: flex;
  width: 100%;
  justify-content: center;
}


.buttons-parent button {
  font-size: 1.5rem;
  /* adjust font size to make button text bigger */
  padding: 30px 45px;
  /* adjust padding to increase button size */
  border-radius: 15px;
  background-color: #f8000071;
  ;
  /* set a background color for the button */
  color: #fff;
  /* set a text color for the button */
  border: none;
  /* remove the button border */
  cursor: pointer;
  /* set the cursor to pointer to indicate it's clickable */
  transition: all 0.2s ease-in-out;
  /* add a transition effect for hover */
  width: auto;
  /*makes it responsive*/
  max-width: 100%;
}

.buttons-parent button:hover {
  background-color: #ff0000a4;
  /* change the background color on hover */
}

button.margin-right {
  margin-right: 20px
}

@media (max-width: 800px) {

  /* adjust buttons layout on mobile */
  .buttons-parent {
    flex-direction: column;
    margin-top: 0;
    width: fit-content;
  }

  button.margin-right {
    margin: 0;
  }

  .buttons-parent>button {
    margin-top: 10px;
  }

  /* adjust header font size mobile */
  .post-login-header {
    font-size: x-large;
  }

}



.mpgLogoLogin {}